.authors-main-social {
  display: flex;
  gap: 16px;
}

.author-main {
  width: 100%;
  height: 550px;
  justify-content: center;
  margin: 0 auto;
  padding: 80px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: var(--lavender);
}

.author-main img:first-child {
  flex-shrink: 0;
}

.author-content {
  max-width: 41.8125rem;
  width: 100%;
}

.author-content h1 {
  color: var(--black);
  font-family: 'Sen', 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.125rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.author-content h2 {
  color: var(--medium-grey);
  font-family: 'Inter', 'Sen', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.author-container-blocks {
  width: 950px;
  margin: -23px auto 0 auto;
  display: flex;
}

.author-container-blocks-yellow-block {
  width: 75%;
  height: 23px;
  background-color: var(--yellow);
}

.author-container-blocks-purple-block {
  width: 25%;
  height: 23px;
  background-color: var(--purple);
}

.author-posts-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.author-posts-container h1 {
  color: var(--black);
  font-family: 'Sen', 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.125rem;
  line-height: 1.3;
}

.author-posts {
  max-width: 1024px;
  margin: 128px auto;
}

.author-post-card {
  display: flex;
  align-items: center;
  gap: 32px;
}

.author-post-content {
  display: flex;
  flex-direction: column;

  h2 {
    color: var(--purple);
    font-family: 'Inter', 'Sen', sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h3 {
    color: var(--black);
    font-family: 'Sen', 'Inter', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 1rem;
  }

  p {
    color: var(--medium-grey);
    font-family: 'Inter', 'Sen', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
  }
}
