<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="logo.svg" alt="Logo">
            </div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-newsletter">
            <h1>
                Subscribe to our news letter to get latest updates and news
            </h1>
            <form class="newsletter-form">
                <input type="email" placeholder="Enter Your Email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
        <div class="footer-bottom">
            <div class="footer-contact">
                <p>Finstreet 118 2561 Fintown</p>
                <p>Hello@finsweet.com<span class="footer-space"></span>020 7993 2905</p>
            </div>
            <div class="footer-socials">
                <a href="#"><img src="facebook2.svg" alt=""></a>
                <a href="#"><img src="twitter2.svg" alt=""></a>
                <a href="#"><img src="instagram2.svg" alt=""></a>
                <a href="#"><img src="linkedln2.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>