* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #232536;
  --yellow: #ffd050;
  --dark-grey: #4c4c4c;
  --medium-grey: #6d6e76;
  --purple: #592ea9;
  --light: #ffffff;
  --light-yellow: #fbf6ea;
  --light-grey: #f4f4f4;
  --lavender: #f4f0f8;
}
